GROQ_API_KEY=your_groq_api_key_here
OPENAQ_API_KEY=your_openaq_api_key_here
EE_PROJECT=your_earth_engine_project_id

EE_SERVICE_ACCOUNT_EMAIL=your_service_account_email_here
EE_SERVICE_ACCOUNT_KEY=your_service_account_json_here

ALLOWED_ORIGINS=http://localhost:5173